@import "normalize";
@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
}

body {
  background: $light-blue;
}

a {
  color: $dark-blue;
}

.main {
  width: 90%;
  max-width: 78em;
  margin: 0 auto;
  .form,
  .preview {
    @include mediaQuery {
      width: 50%;
      float: left;
    }
  }
}

.title {
  text-align: center;
  color: $dark-blue;
  font-size: 2.5em;
  font-family: 'Dancing Script', cursive;
  @include mediaQuery { font-size: 3em; }
}

textarea,
.preview {
  font-family: 'Roboto', sans-serif;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 25em;
  max-height: 35em;
  padding: .5em;

  color: lightgrey;
  transition: color .5s;
  font-weight: lighter;

  &:hover,
  &:focus {
    color: $dark-grey;
  }

  @include mediaQuery {
    height: 30em;
    max-height: 40em;
  }
}

.preview {
  color: $dark-grey;
  font-weight: 700;
  @include mediaQuery { padding-left: 2em; }
}

.clearfix {
  &:after { // clearfix
    content: "";
    display: block;
    clear: both;
  }
}
